@font-face {
	font-family: 'Dunkin';
	src:  url('../fonts/dunkin_bold-webfont.woff2') format('woff2');
  }

  @font-face {
	font-family: 'Dunkin-sans';
	src:  url('../fonts/612741c59719f39d57ce4756_DunkinSans-Book.otf') format('woff2');
  }

  @font-face {
	font-family: 'Dunkin-sans-2';
	src:  url('../fonts/Dunkin_Sans.otf') format('woff2');
  }

:root {

	color-scheme: light dark;

	--color-headings1:#f20C90 ;

	--bg:light-dark:(white);
	--clr: light-dark:(black);
}

html:has([value="light"]:checked) {
	color-scheme: Light;
	--bg: white;
	--clr: black;
}

html:has([value="dark"]:checked) {
	color-scheme: dark;
	--bg: green;
}

	
	/* --color-links:; */
	/* --space-s: 0.5em; 
	--space-m: 1em;
	--radius-s: 1.5em; */

body {
	margin: 1.5em;
	font-family: 'Dunkin';
	font-weight: bold;
	
}

p {
	font-family: "Dunkin-sans";
}


nav {
	background-color: rgb(255, 255, 255);
	left: 0em;
	position: fixed;
	z-index: 3;
	top:0;
	margin-top: 7em;
	border: solid, rgb(247, 247, 247), ;
	top: calc(-113.5/16 * 1rem);
}

nav ul li button {
	background-color: white;
	border: none;
	size: 2em;
	transform: translateX(-1em);
}

nav p {
	background-color: #FF6E0C;
	color: white;
	padding: 1em;
	padding-right:5em;
	font-size: 0.75em;
	margin-top: -0.2em ;
	margin-left: -0.2em;
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
	position: sticky;
	top: calc(-113.5/16 * 1rem);
}

nav p a{
	color: #0072ce;
	padding-left: 0.5em;
}


nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

nav ul li {
	padding-left: 4em;
	padding-right: 4em;
	margin-left: -5em;
	padding-top: 0.5em;
}

.hamburger{
	background-color: rgb(253, 253, 253);	
	position: absolute;
	top: 20;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	transform: translateY(200vw);
	transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger ul li a{
	color: #512d00;
	text-decoration: none;
	flex-direction: column;
	text-align: center;
	display: flex;
	text-transform: uppercase;
	font-size: 2em;
	font-family: 'Dunkin';
	padding-left: 1em;
	
}

.hamburger div {
	background-color: #f4f2f2;
	padding-bottom: 10em;
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 3em;
	margin-top: 3em;
	border-top-right-radius: 150px 50px;
	border-top-left-radius: 150px 50px;
}

.hamburger button {
	background-color: rgb(240, 240, 240);
	color: blaCK;
	border: none;
	transform: translateY(-4.1em) translateX(22.9em);
	padding: 0.6em 1.4em;
	border-radius: 2em;
	
	
}

.hamburger div a{
	background-color: white;
	padding: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	border-radius: 8em;
}

.hamburger div a:nth-of-type(1) {
	margin-right: 1em;
}

.hamburger div a:nth-of-type(2) {
	margin-right: 1em;
}

.hamburger div a:nth-of-type(3) {
 padding-left: 1em;
 padding-right: 1em;
}

header nav article ul li {
	color: #111;
}


nav article.active {
	transform: translateY(0);
}



h2 {
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 0.7em;
	color: white;
	font-size: 3em;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: -0.05em;
}

.welovecoffee {
	background-color: #ddbd8e;
	border-radius: 1.5em;
	margin-bottom: -1em;
	padding-bottom:2em ;
	margin-top: 9em;
	justify-items: center;	
	overflow: hidden;
	object-fit: contain;
}

.welovecoffee h2 {
	text-align: center;
	margin-top: -0.1em;
}

.welovecoffee img:nth-of-type(1) {
	transform: translateX(4em) translateY(1em) scale(4);
}

.welovecoffee img:nth-of-type(3) {
	transform: translateX(3em) translateY(5em) scale(2.3);
	object-fit: contain;
    height: 10em;
	z-index: 1;
}

.welovecoffee img:nth-of-type(2) {
	transform: translateX(12em) translateY(1.1em) scale(4);

}

h1 {
	font-size: 3.5em;
	line-height: 1em;
}

.greybg {
	background-color: #0000000a;
	margin-left: -1.5em;
	margin-right: -1.5em;
}
	

.bestel {
	color: white;
	background-color: var(--color-headings1);
	border-radius: 1.5em;
	padding-bottom: 2em;
	margin: 1.5em;
	margin-bottom: -1em;
}

.bestel p {
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	margin-top: -1em;
	font-size: smaller;
}

.bestel a {
	background-color: white;
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	margin-left: 1.5em;
	border-radius: 0.7em;
	text-transform: uppercase;
	font-size: small;
}

.bestel a:nth-of-type(1) {
	color: deeppink;
	margin-right: -1em;
}

.bestel a:nth-of-type(2) {
	color: white;
	background-color: #f950ad;
}

.nieuw {
	color: white;
	background-color: #92d7ee;
	border-radius: 1.5em;
	margin: 1.5em;
	margin-bottom: 4em;
}

.nieuw img {
	transform: translateY(0.3em);
}

h1 {
	color: #ff3396;
	align-content: flex-end;
	text-transform: uppercase;
	 margin-left: 0.45em;
}


.list div:nth-of-type(1) {
	background-color: #f20C90;
	border-radius: 50%;
	height: 3em;
	width: 3em;
	align-items: center;
	justify-content: center;
	display: flex;
	transform: translateX(1.5em) translateY(2em);
}

.list div svg {
	width: 1.5em;
	z-index: 100;
	color: rgb(0, 0, 0);
}

#orangemiddle {
	background-color:#FF6E0C;

}

ol li {
	background-color: rgb(255, 255, 255);
	border-radius: 1.5em;
	color: deeppink;
	list-style-type: none;
	font-weight: bold;
	font-size: large;
	margin: 1.5em;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

ol li:nth-of-type(3) div:nth-of-type(1){
	transform: translateY(1em) translateX(1em);
}

ol li h3{
	text-transform: uppercase;
	font-size: 1em;
	
}

li p {
	color: rgba(128, 128, 128, 0.63);
	font-weight: 100;
	font-size: 0.7em;
	margin-top: -1em;
	padding-bottom: 1em;
}

.list a {
	background-color: #FF6E0C;
	text-decoration: none;
	color: white;
	padding: 1em;
	border-radius: 3em;
	text-align: center ;
	justify-content: centesr;
	display: block;
	text-transform: uppercase;
	margin: 1.5em;
}

svg {
	fill: rgb(205, 26, 26);
}

ol {
	list-style-type: none;
	padding: 0;
}

.appjijm {
	color: white;
	background-color: #71c5e8;
	border-radius: 1.5em;
	justify-content: center;
	text-align: center;
	margin: 1.5em;
	margin-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
}

.appjijm h3 {
	text-transform: uppercase;
}

.appjijm img {
	transform: translateY(0.35em);
}

.orange {
	color: #FF6E0C;
}

.bataviastad {
	margin-top: 7em;
}

.bataviastad h3 {
	color: #f20C90;
	font-size: 1.9em;
	margin-top: -1em;
	line-height: 1.3em;
	word-spacing: -0.4em;
}

.bataviastad p {
color: #AAAAAA;
font-family: "Dunkin-sans";
margin-top: -1em;
margin-bottom: 1.5em;
}

.bataviastad a {
	background-color: #FF6E0C;
	text-decoration: none;
	color: white;
	padding: 1em;
	border-radius: 3em;
	text-align: center ;
	justify-content: center;
	display: block;
	text-transform: uppercase;
	margin-bottom: 7em;
}

.bataviastad div {
	background-color: #FF6E0C;
	display: block;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 1em;
	margin-left: 7em;
	margin-right: 7em;
	border-radius: 50%;
	transform: translateX(5.5em) translateY(-2em);
}

.bataviastad h3:nth-of-type(2) {
	color:#FF6E0C;
}

.bataviastad div:nth-of-type(2) {
	background-color:#f20C90;
	margin-top: 3em;
}

.ddnieuws {
	background-color: #F5F5F5;
	margin-left: -1.5em;
	margin-right: -1.5em;

}	

.ddnieuws h1 {
	padding-top: 0.5em;
	padding-bottom: -2em;
}

.scrol {
	display: flex;
	overflow: auto;

}


.batavianews {
	padding: 0.5em;
	margin: 1.5em;
	border: solid, #ececec, 4px;
	border-radius: 1em;
}


.batavianews a {
margin: 3em;
margin-left: 0em;
background-color: #DA1884;
border-radius: 4em;
color: white;
padding: 0.5em;
text-decoration: none;
font-size: 0.7em;
padding-left: 1em;
padding-right: 1em;
}

.storefinder {
	color: white;
	background-color: #f20C90;
	border-radius: 1.5em;
	justify-content: center;
	text-align: center;

	padding-bottom: 2em;
	text-transform: uppercase;
	margin-bottom: 10em;
	
}

.map {
	border: solid, white, 10px;
	border-radius: 50%;
	margin-bottom: -6em;
	margin-top: 0em;
}

.badge {
	border: none;
	border-radius: 50%;
	transform: translateX(9em) translateY(-6.5em);
	rotate: -20deg;
	box-shadow: 1px 5px 5px #1111115c;
	
}

.storefinder h3 {
	margin-top: 1em;

}

.storefinder a {
	text-decoration: none;
	background-color: white;
	border-radius: 3em;
	padding: 1em;
	margin-top: 1em;
	color: #f20C90;
	font-size: small;
}

.ordernow {
	background-color:#f5f5f5;
	margin-bottom: 1em;
	padding: 1.3em;
	margin: -2em;
	z-index: 2;
	position: fixed;
    top: auto;
    bottom: 4%;
	left: 8%;
	right: 8%;

}

.ordernow a{
	background-color: #FF6E0C;
	text-decoration: none;
	color: white;
	padding: 1.5em;
	border-radius: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: small;

}

.footerhome {
	color: white;
	background-color: #FF6E0C;
	justify-content: center;
	text-align: center;
	margin-bottom: 8em;
    padding-bottom: 0em;
	text-transform: uppercase;
	margin: -1.5em;
	}

.footerhome article img {
	border-radius: 50%;
	transform: translateY(-6em);
	margin-bottom: -5em;
	margin-top: 2em;
	box-shadow: 1px 5px 5px #1111115c;
}	

.footerhome article a {
	text-decoration: none;
	color: white ;
	background-color: #e8412ed3 ;
	border-radius: 3em;
	padding: 1.7em;
	display: block;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	font-size: smaller;
}

.footerhome p a {
	background-color: #f5f5f5;
	margin: 0em;
	margin-bottom: -0em;
	margin-top: -2em;
	padding-bottom: 12em;
	padding-top: 3em;
	border-radius: 0%;
	color: #c1c1c1d4;
	font-size: 0.7em;
	text-transform: lowercase;
	text-align: center;
	display: flex;
	text-decoration: none;
}


.footerhome div a img {
	height: 2em;
	width: 2em;
	padding-top: -2em;
}


.rotatinglogo {
	background-color: rgb(241, 241, 241);
	border-radius: 50%;
	margin-top: -4em;
	box-shadow: 1px 5px 5px #1111115c;
	margin-left: 7.1em;
	margin-right: 6.7em;
	z-index: 4;
	


	animation-name: rondje;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rondje {
	0% {

		transform: rotate(0deg);
	}
	100%{
		
		transform: rotate(360deg);
	}
}



/* section:nth-of-type(1) article:nth-of-type(3) {

} */



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */








.nav2 {
	background-color: white;
	margin: -1.5em -1.8em 0em -1.5em;
	padding: 1.5em;
}

.nav2 :nth-child(2) {
	transform: translateX(8em);
}





.intro img {
margin: 0em -1.5em -1.5em -1.5em;
filter:brightness(60%) ;
}

.intro p {
	transform: translateY(-10em);
	color: white;
	font-family: 'Dunkin';
	font-size: 2em;
}

.werk h1{
	margin-top: -5em;
	color: #C63663;
	font-size: 2.5em;
	text-align: center;
	line-height: 1.2em;
	word-spacing: -0.3em;
}

.intro {
	text-align: center;
}


.quotebg {
	background-color: #aaaaaa2c;
	text-align: left;
	padding-left: 1em;
	padding-bottom: 1em;
	margin-bottom: 3em;
}

.quote {
	padding-top: 1em;
	
	font-family: 'Dunkin';
	color:#C63663 ;
	font-family: 'Dunkin';
	font-size: 900;
	
}

.werk p {
	
	font-weight: 50;
	line-height: 1.5em;
}

.werk a {
	font-weight: 100;
	font-family: "Dunkin-sans";
	text-decoration: none;
	color: white;
	background-color: rgb(239, 106, 0);
	padding: 0.7em;
	font-size: 1em;
	border-radius: 0.3em;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 2em 5em 2em 5em;
}


.images {
	display: flex;
	
}

.smallimg {
	padding: 1em;
	
}

.bigimg {
	
	object-fit: cover;
}

.rooster {
	justify-content: center;
	text-align: center;
}

.rooster h2 {
	color: #C63663 ;
	text-transform: lowercase;
	font-family: "Dunkin-sans-2";
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
	line-height: 1.5em;
}

.rooster h3 {
	color:#C63663 ;
	font-size: 1em;
}

.rooster p {
	font-weight: 100;
	line-height: 1.8em;
	margin-top: -0.6em;
}

.rooster img {
	margin-top: 2em;
}

.vacatures {
	text-align: left;
}

.vacatures h2 {
	color: #C63663;
	font-size: 1.6em ;
	text-transform: lowercase;
	margin-top: 2.6em;
	font-family:"Dunkin-sans-2"; 
	line-height: 1.4em;
	
}

.vacatures p {
	font-weight: 100;
	line-height: 1.8em;
	margin-bottom: 2.2em;
}

.vacatures a{
	font-weight: 100;
	font-family: "Dunkin-sans";
	text-decoration: none;
	color: white;
	background-color: rgb(239, 106, 0);
	padding: 0.7em;
	font-size: 1em;
	border-radius: 0.3em;
	margin-top: 2em;
	margin-bottom: 5em;
}

.border {
	border: solid, gray, 0.8px;
	margin-top: 4em;
	padding: 1.5em;
	border-radius: 0.3em;
}



.border-a1 {
	text-decoration: none;
	color:rgb(239, 106, 0)  ;

}

.barista {
	display: flex;
	margin-top: 0em;
	font-weight: 100;
}

.barista1 {
	display: flex;
	font-weight: 100;
}


.barista img {
	width: 5%;
	height: 5%;
	margin-top: 1.2em;
	margin-right: 1em;
}

.barista1 img {
	width: 7%;
	height: 7%;
	margin-top: 1.2em;
	margin-right: 1em;
}

.border-a {
	font-weight: 100;
	font-family: "Dunkin-sans";
	text-decoration: none;
	color: white;
	background-color: rgb(239, 106, 0);
	padding: 0.7em;
	font-size: 1em;
	border-radius: 0.3em;
}

.footer {
	background-color: #3c332e;
	padding-top: 4em;
	margin: 3em -2em -1.5em -1.5em;
	
}

.center img {
	margin-bottom: 3em;
}

.center {
	align-items: center;
	flex-direction: column;
	display: flex;
	
}

.center a{
	text-decoration: none;
	color: white;
	padding: 1em;
	font-family: "Dunkin-sans";
	font-weight: 100;
}

.socials {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 2em;
}

.socials a {
	padding: 0.5em;
}

